/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation_and_overrides

 */
* {
  font-family:  'Pacifico', Helvetica, sans-serif;
}

h6, span, p, button, div, label, input {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
}

.top-bar, .top-bar ul {
  background-color: white;
}

.primary-bg {
  background-color: white;
  border: 1px black solid;
}

.alert-box {
  background-color: #27ae60;
  opacity: .7;
  border-radius: 10px;
  padding:10px;
}
